
# Files
tailwind*
*.key
pywst_config
assets/_Me.jpeg
components/*.html
components/r/*.html
components/about/*.html
components/cv/*.html
components/development/*.html
components/header/*.html
components/portfolio/*.html
svg/*.html
pages/*.html
CSS/tin.css
assets/*.txt
projects.txt

# OS
*.DS_Store

# Directories
Me
.idea
